* {
    box-sizing: border-box;
}

.container {
    position: absolute;
    /* Establece la caja como position:absolute */
    top: 50%;
    /* Centra la caja verticalmente en el centro del contenedor */
    left: 50%;
    /* Centra la caja horizontalmente en el centro del contenedor */
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    /* Tamaño fijo del contenedor */
    margin: 0 200px;
    /* Margen automático en todas las direcciones para centrar */
    background-color: white;
    /* Fondo blanco */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* Sombra */
    padding: 20px;
    /* Espacio interno */
    text-align: center;
    /* Centrar el contenido */
}


@media only screen and (max-width: 600px) {

    /* Estilos para pantallas con ancho máximo de 600px */
    .container {
        font-size: 20px;
        padding: 0px;
        margin: 0 10px;
    }
}